body {
    text-align: center;
}


form {
    border-radius: 8px;
    padding: 20px;
}

input {
    margin: 10px;
    width: 300px;
    border: 2px solid black;
}

textarea {
    margin-top: 10px;
    border: 2px solid black;
    resize: none;
    width: 630px;
    height: 100px;
}

button {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 75px;
    background-color: rgb(190, 188, 188);
}

.badge {
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px 600px;
}

.badge-title {
    margin-top: 0px;
    padding: 4px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: left;
    color: white;
    background-color: gray;
}

p {
    display: inline-block;
    margin: 10px;
    width: 300px;
    text-align: left;
}
.email {
    position: relative;
    left: -160px;
}

.about {
    border: 2px solid black;
    margin-left: 32px;
    margin-bottom: 20px;
    width: 630px;
    height: 175px;
    text-align: left;
}