h1 {
    color: Blue;
    font-size: 35px;
}

h2 {
    color: orange;
    font-size: 35px;
}

.for {
    color: green;
    font-size: 35px;
}

.for-the-good {
    color: blue;
    font-size: 25px;
}

.of-all-of-us {
    color: orange;
    font-size: 25px;
}