body {
    background-color: aqua;
}

.header {
    text-align: center;
}

div {
    background-color: blueviolet;
}

.addition {
    border: 4px solid black;
    border-bottom: 2px;
    padding: 10px;
    width: auto;
    text-align: center;
}

.subtraction {
    border: 4px solid black;
    border-top: 2px;
    border-bottom: 2px;
    padding: 10px;
    width: auto;
    text-align: center;
}

.multiplication {
    border: 4px solid black;
    border-top: 2px;
    padding: 10px;
    width: auto;
    text-align: center;
}

#answer {
    border: 4px solid black;
    border-top: 2px;
    padding: 10px;
    width: auto;
    background-color: darkgreen;
    text-align: center;
}